@model StudentSystem2016.VModels.Models.Orders.OrderList
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangeDetails</title>
    @Scripts.Render("~/Scripts/site.js")

</head>
<body>
    <div class="row orderinformation">
        <div id="mode" style="visibility:hidden">0</div>
        <h3>Поръчки</h3>
        <div class="row headers">
            <div class="col-md-2">  OrderNumber</div>
            <div class="col-md-2"> Quantity</div>
            <div class="col-md-2"> Date</div>
            <div class="col-md-2"> Status</div>
            <div class="col-md-2"> Total Price</div>
            <div class="col-md-2"> Action</div>
        </div>
        @{
            int count = -1;
            int i = 0;
           
            foreach (var item in Model.Items)
            {
                if (item.Status.ToString() == "Supplier")
                {
                    <div class="addID">
                        <div class="row orderInformation ">
                            <div class="col-md-2"> @item.OrderNumber </div>
                            <div class="col-md-2"> @Model.QuantityList[i]</div>
                            <div class="col-md-2"> @item.Date</div>
                            <div class="col-md-2"> @item.Status</div>
                            <div class="col-md-2"> @Model.TotalPriceList[i]</div>
                            <div class="col-md-2">
                                <span style="color:white" onclick="showDetailsForOrder(@i)" href="#">Details </span>
                            </div>
                        </div>
                        <div class="row informarionForUserAndPRoduct ">
                            <div class="row" style="padding: 0 30px;">
                                <div class="col-md-10">
                                    <h4>Products</h4>
                                    @for (int j = 0; j < Model.ProductCount[i]; j++)
                                    {
                                        count++;
                                        <div class="col-md-2 product">
                                            <img width="100px" src="@Model.Product[count].Image" alt="Alternate Text" />
                                            <h5>Code: @Model.Product[count].Code</h5>
                                            <h5>Title: @Model.Product[count].Title</h5>
                                            @{
                                                string price = Model.Product[count].Price.ToString();
                                                int positionOfDot = price.IndexOf(".");
                                                if (positionOfDot == -1)
                                                {
                                                    price += ".00";
                                                }
                                                else
                                                {
                                                    int difrentOf = price.Length - positionOfDot;
                                                    if (difrentOf < 3)
                                                    {
                                                        price += "0";
                                                    }
                                                }
                                                <h5>Price:@price лв.</h5>

                                            }
                                            <h5>Order Quantity:@Model.QuantityOrderList[count] </h5>

                                        </div>

                                    }
                                </div>
                                <div class="col-md-2">
                                    <button onclick="AboardOrder(@item.OrderNumber)" class="btn btn-danger">Aboard</button>

                                </div>
                            </div>

                        </div>
                    </div>
                }
                else if (item.Status.ToString() == "InProces")
                {
                    <div class="addID">
                        <div class="row orderInformation " style="background-color:yellow; color:black">
                            <div class="col-md-2"> @item.OrderNumber </div>
                            <div class="col-md-2"> @Model.QuantityList[i]</div>
                            <div class="col-md-2"> @item.Date</div>
                            <div class="col-md-2"> @item.Status</div>
                            <div class="col-md-2"> @Model.TotalPriceList[i]</div>
                            <div class="col-md-2">
                                <span style="color:white" onclick="showDetailsForOrder(@i)" href="#">Details </span>
                            </div>
                        </div>
                        <div class="row informarionForUserAndPRoduct ">
                            <div class="row" style="padding: 0 30px;">
                                <h4>Product</h4>
                                @for (int j = 0; j <= Model.ProductCount[i]; j++)
                                {
                                    count++;
                                    <div class="col-md-2 product">
                                        <img width="100px" src="@Model.Product[count].Image" alt="Alternate Text" />
                                        <h5>Code: @Model.Product[count].Code</h5>
                                        <h5>Title: @Model.Product[count].Title</h5>
                                        @{
                                            string price = Model.Product[count].Price.ToString();
                                            int positionOfDot = price.IndexOf(".");
                                            if (positionOfDot == -1)
                                            {
                                                price += ".00";
                                            }
                                            else
                                            {
                                                int difrentOf = price.Length - positionOfDot;
                                                if (difrentOf < 3)
                                                {
                                                    price += "0";
                                                }
                                            }
                                            <h5>Price:@price лв.</h5>

                                        }
                                        <h5>Order Quantity:@Model.QuantityOrderList[count] </h5>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div class="addID">
                        <div class="row orderInformation " style="background-color:red">
                            <div class="col-md-2"> @item.OrderNumber </div>
                            <div class="col-md-2"> @Model.QuantityList[i]</div>
                            <div class="col-md-2"> @item.Date</div>
                            <div class="col-md-2"> @item.Status</div>
                            <div class="col-md-2"> @Model.TotalPriceList[i]</div>
                            <div class="col-md-2">
                                <span style="color:white" onclick="showDetailsForOrder(@i)" href="#">Details </span>
                            </div>
                        </div>
                        <div class="row informarionForUserAndPRoduct ">
                            <div class="row" style="padding: 0 30px;">
                                <h4>Product</h4>
                                @for (int j = 0; j < Model.ProductCount[i]; j++)
                                {
                                    count++;
                                    <div class="col-md-2 product">
                                        <img width="100px" src="@Model.Product[count].Image" alt="Alternate Text" />
                                        <h5>Code: @Model.Product[count].Code</h5>
                                        <h5>Title: @Model.Product[count].Title</h5>


                                        @{
                                            string price = Model.Product[count].Price.ToString();
                                            int positionOfDot = price.IndexOf(".");
                                            if (positionOfDot == -1)
                                            {
                                                price += ".00";
                                            }
                                            else
                                            {
                                                int difrentOf = price.Length - positionOfDot;
                                                if (difrentOf < 3)
                                                {
                                                    price += "0";
                                                }
                                            }
                                            <h5>Price:@price лв.</h5>

                                        }
                                        <h5>Order Quantity:@Model.QuantityOrderList[count] </h5>

                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                }
                i++;
            }
        }

    </div>
</body>
</html>
