<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Vavilonci</title>

    <meta name="description" content="Сайт за изграчки за малки и големи деца в пловдив и цяла България на нисли цени и високо качество" />
    <meta name="author" content="Ivaylo Sakaliev"
    <meta name="keywords" content="вавилонци, детски играчки,играчки, детски трансформъри, ниски цени, цени ок , пловдив, най-добрите, качествени играчки, бебета, момчета, момичета, колички, кукли, фигури, трансформър, замръзналото калство, мачбокс, оптимус прайм,дистанционно управление, лаптопи, таблети, конструктору, малки деца , деца до 3 години, памперси, консумаиви, аркадни. мечове, пушки, пластмасови пушки, пластмасови, професий , доктор, шофиьор, пилот, самолет, комплети,образователни, предучилищна, подготовка, музикални, китари, поано,настолни игри, игри, топки, футбол, волейбол баскетбол, пъзели,
balls, shapes, toys, transformers, low prices, prices ok, plovdiv, best, quality toys, babies, boys, girls, strollers, dolls, shapes, transformer, frightened california, small children, children up to 3 years old, diapers, consumables, arcades. swords, rifles, rifles, plastic, profession, doctor, driver, pilot, airplane, kits, educational, preschool, preparation, musical, guitars, piano, table games, balls, soccer, volleyball basketball, vavilontsi, igrachki, transformŭri, niski tseni, tseni ok , plovdiv, naĭ-dobrite, kachestveni igrachki, bebeta, momcheta, momicheta, kolichki, kukli, figuri, transformŭr, zamrŭznaloto kalstvo, machboks, optimus praĭm,distantsionno upravlenie, laptopi, tableti, konstruktoru, malki detsa , detsa do 3 godini, pampersi, konsumaivi, arkadni. mechove, pushki, plastmasovi pushki, plastmasovi, profesiĭ , doktor, shofi’or, pilot, samolet, kompleti,obrazovatelni, preduchilishtna, podgotovka, muzikalni, kitari, poano,nastolni igri, igri, topki, futbol, voleĭbol basketbol, pŭzeli,
balls, shapes, toys, transformers, low prices, prices ok, plovdiv, best, quality toys, babies, boys, girls, strollers, dolls, shapes, transformer, frightened california, small children, children up to 3 years old, diapers, consumables, arcades. swords, rifles, rifles, plastic, profession, doctor, driver, pilot, airplane, kits, educational, preschool, preparation, musical, guitars, piano, table games, balls, soccer, volleyball  " />
    @Scripts.Render("~/Scripts/site.js")
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2369841669923362');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=2369841669923362&ev=PageView&noscript=1" />
    </noscript>
</head>
<body>
    <div class="row nav">
        <div class="col-md-3" style="background-color:white; padding:5px;">
            <a href="~/Home/Index"><img id="logo" style="margin-left:25%" src="~/Images/Vavilonci.png" width="53%" height="91px;" /></a>
        </div>
        <div class="col-md-9 menuto">
            <div class="row navigation ">
                <nav>

                    @if (HttpContext.Current.Session["User_ID"] == "3")
                    {
                        <div class="col-md-4">
                            @Html.Partial("_fixedMenu")
                        </div>
                        <div class="col-md-8">
                            @Html.Partial("_loginMenu")
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            @Html.Partial("_fixedMenu")
                        </div>
                        <div class="col-md-8">
                            @Html.Partial("_loginMenu")
                        </div>
                    }

                </nav>
            </div>
            <div class="row" style="z-index:9">
                <div class="secondNAvigation">
                    <div class="container">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Играчки
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="ChangeType(1)" href="#">Превозни средства</a></li>
                                        <li><a onclick="ChangeType(3)" href="#">Кукли и аксесоари</a></li>
                                        <li><a onclick="ChangeType(4)" href="#">Фигури</a></li>
                                        <li><a onclick="ChangeType(5)" href="#">С дистанционно управление</a></li>
                                        <li><a onclick="ChangeType(6)" href="#">Лаптопи и таблети</a></li>
                                        <li><a onclick="ChangeType(7)" href="#">Конструктор и сглобяеми играчки</a></li>
                                        <li><a onclick="ChangeType(8)" href="#">Аркадни</a></li>
                                        <li><a onclick="ChangeType(9)" href="#">За игра на професии</a></li>
                                        <li><a onclick="ChangeType(13)" href="#">Комплекти</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Образователни игри
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="ChangeType(18)" href="#">Образователни</a></li>
                                        <li><a onclick="ChangeType(10)" href="#">За предучилищна подготовка </a></li>
                                        <li><a onclick="ChangeType(11)" href="#">Музикални играчки</a></li>
                                        <li><a onclick="ChangeType(12)" href="#">Настолни игри</a></li>
                                        <li><a onclick="ChangeType(7)" href="#">Конструктори</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="menuLink" onclick="ProductCategory(1)">За бебета </a>
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Спорт и игра на открито
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="ChangeType(19)" href="#">Спортни играчки</a></li>


                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a onclick="ChangeType(17)" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Пъзели
                                        <span class="caret"></span>
                                    </a>

                                </li>
                                <li><a class="menuLink" onclick="ChangeType(12)">Настолни игри и забавления </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menumobile">
            <ul class="nav navbar-nav">

                <li>
                    <div class="circle"></div>

                    <a href="../../Order/Orders"><img width="20px" src="~/images/shop.png" /></a>
                </li>
                <li class="drop_menu_search">
                    <img src="~/images/search.png" width="15px" alt="Search" onclick="VisibleSearch(2)" />


                </li>
                <li><img src="~/Images/menu.png" onclick="SlideDownMainMenu()" style="margin-left:17px;" width="20px" alt="mobile menu" /></li>
            </ul>
        </div>
        <div class="col-md-4 search" id="mobileVersionSearch">
            <form action="../Product" method="post">
                <div class="col-md-9">
                    <input class="form-control searchFiels" type="text" name="search" placeholder="Search ...." />
                </div>
                <div class="col-md-3">
                    <button id="serchButton" style="background-color:#f4ad42" class="form-control"><img src="~/images/search.png" alt="Search" /></button>
                </div>

            </form>
        </div>
        <div class="sub_menu_mobile">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li><a href="../../Product/Index?Curentpage=1" onclick="Restore()">Product</a></li>
                <li onclick="SlideDownGames()">
                    <a>Играчки</a>
                    <span class="caret"></span>
                    <ul id="first">
                        <li><a onclick="ChangeType(1)" href="#">Превозни средства</a></li>
                        <li><a onclick="ChangeType(3)" href="#">Кукли и аксесоари</a></li>
                        <li><a onclick="ChangeType(4)" href="#">Фигури</a></li>
                        <li><a onclick="ChangeType(5)" href="#">С дистанционно управление</a></li>
                        <li><a onclick="ChangeType(6)" href="#">Лаптопи и таблети</a></li>
                        <li><a onclick="ChangeType(7)" href="#">Конструктор и сглобяеми играчки</a></li>
                        <li><a onclick="ChangeType(8)" href="#">Аркадни</a></li>
                        <li><a onclick="ChangeType(9)" href="#">За игра на професии</a></li>
                        <li><a onclick="ChangeType(13)" href="#">Комплекти</a></li>
                    </ul>
                </li>
                <li onclick="SlideDownEdu()">
                    <a>Образователни игри</a>
                    <span class="caret"></span>
                    <ul id="second">
                        <li><a onclick="ChangeType(18)" href="#">Образователни</a></li>
                        <li><a onclick="ChangeType(10)" href="#">За предучилищна подготовка </a></li>
                        <li><a onclick="ChangeType(11)" href="#">Музикални играчки</a></li>
                        <li><a onclick="ChangeType(12)" href="#">Настолни игри</a></li>
                        <li><a onclick="ChangeType(7)" href="#">Конструктори</a></li>
                    </ul>
                    </lionclick="SlideDownMenuEdu()">
                <li><a href="#" onclick="ChangeType(19)"> Спорт</a></li>
                <li><a href="#" onclick="ChangeType(17)"> Пъзели</a></li>
                <li><a href="#" onclick="ChangeType(12)"> Настолни игри</a></li>
            </ul>
        </div>
    </div>













    <partial name="_CookieConsentPartial" />

    <div>
        
        @RenderBody()
        <hr />

    </div>
    @if (Request.Cookies["CookieUsing"].Values["cookieUsing"] == "" || Request.Cookies["CookieUsing"].Values["cookieUsing"] == null)
    {
        <div class="row cookieBody">
            <div class="container">
                <div class="col-md-11">
                    <h5>Този сайт използва бисквитки за да гарантира на вас потребителите пълната функционалност кoято предоставя. Във връзка с изпълнението и прилагането на Общ регламент относно защитата на данните (Регламент (ЕС) 2016/679), всяка ваша информация  е напълно защитена , като в бисквитките се съхраняват само настройки на сайта, като цвят и допълнителна функционалност, а при ваш избор на и-мейл адреса ви за по-лесно влизане в нашата система. Уверяваме Ви, че вашата информация е напълно защитена!</h5>
                </div>
                <div class="col-md-1">

                    <button onclick="ChangeCookieVAlue()" style="margin-top:30%" class="btn bnt-primaty">Разбрах</button>


                </div>
            </div>
        </div>
     }
    

    @RenderSection("Scripts", required: false)

</body>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footerMenu">
                <ul class="footerNav">
                    <h3>Menu</h3>
                    <li><a href="../../Home/Index">Home</a></li>
                    <li><a href="../../Home/Contact">Contact</a></li>
                    <li><a href="../Product/Index?Curentpage=1">Product</a></li>

                </ul>
            </div>
            <div class="col-md-4 secondnavFooter">
                <ul class="footerNav contactsFooter">
                    <h3>Contacts</h3>
                    <li>
                        Tel: 0893287557

                    </li>
                    <li>Adres: Plovdiv, Sankt Peterburg 39</li>


                </ul>
            </div>
            <div class="col-md-4 social-link">
                <h3>Follow us</h3>
                <div class="col-md-2" style="background-image:url(../../Images/social/facebook.png); background-repeat:no-repeat; background-size:80%;  padding-left: 0px"> 
                <a href="https://www.facebook.com/Vavilonci-343693393003676/">
                    <img class="soc" src="~/images/social/facebook2.png"  alt="facebook" />
                    </a>
                </div>
                <div class="col-md-2" style="background-image:url(../../Images/social/instagram.png); background-repeat:no-repeat; background-size:80%; padding-left: 0px">
                    <a href="https://www.instagram.com/vavilonci_toys/">
                        <img class="soc" src="~/images/social/instagram2.png"  alt="facebook" />
                    </a>
                </div>
            </div>

        </div>
        <div class="row copyright">
            <a href="#">©2019 VavilonIT Всички права запазени</a>
        </div>
    </div>


</footer>
</html>