<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin panel</title>
    
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        @Styles.Render("~/Content/adminStyle.css")
        @Styles.Render("~/Content/bootstrap.css")
        @Styles.Render("~/Content/site.css")
        @Scripts.Render("~/Scripts/site.js")
        <script src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous"></script>

    </environment>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:0px;">
        <div class="container">
            <div class="col-md-2">
                <div class="navbar-header">

                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Admin panel</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li><a href="../Home/Index">Go to site</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li><a asp-area="" asp-controller="Login" asp-action="LoggOut">Loggout</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <div class="col-md-2 navigation ">
        <nav>
            <ul class="navMenu">
                <li><a href="/Admin/ProductIndex?Curentpage=1" onclick="RestoreAdminProduct()">Product</a></li>
                <li><a href="../Order/AdminIndex?Curentpage=1" onclick="RestoreOrderFilter()">Orders</a></li>
                <li><a href="../Type/Index?Curentpage=1">Type Products</a></li>
                <li><a href="../BaseType/Index?Curentpage=1">Base type product</a></li>
                <li><a href="../../Contact/Index?Curentpage=1">E-mails</a></li>
            </ul>
            </ul>
        </nav>
    </div>

    <div class="container body-content col-md-10" style="padding-top:50px;">
        @RenderBody()
        <hr />

    </div>

    

    @RenderSection("Scripts", required: false)
</body>

</html>