@model StudentSystem2016.VModels.Models.Products.ProductVM
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Admin/_admin.cshtml";
}

<h2>EditProduct</h2>

<h4>ProductVM</h4>
<hr />
<form enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-4">

            <div style="color:red">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>            <div class="form-group">
                <input type="hidden" class="form-control" value="@Model.FrontImage" />
                <input type="hidden" class="form-control" value="@Model.TypeString" />

            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <select class="form-control" name="type">
                    @foreach (var item in Model.Types)
                    {
                        if (item.Value == Model.TypeString.ToString())
                        {
                            <option value="@item.Value " selected>@item.Text </option>
                        }
                        else
                        {
                            <option value="@item.Value ">@item.Text </option>
                        }
                    }
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Base Type</label>
                <select class="form-control" name="basetype">
                    @foreach (var item in Model.BaseType)
                    {
                        if (item.Value == Model.TypeString.ToString())
                        {
                            <option value="@item.Value " selected>@item.Text </option>
                        }
                        else
                        {
                            <option value="@item.Value ">@item.Text </option>
                        }
                    }
                </select>
                <span asp-validation-for="BaseType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Images</label>
                </br>
                @foreach (var item in Model.ImageS)
                {
                    <div class="siteIMG">
                        <img width="150" src="../@item.Path" alt="Alternate Text" />
                        <img width="20px" src="~/images/delete.png" alt="Alternate Text" onclick="DeleteImage(@item.ID)" class="deleteImg" />

                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="photo" class="form-control" multiple />
                <span asp-validation-for="Image"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>


<div>
    <a href="../ProductIndex?Curentpage=1">Back to List</a>
</div>