@model StudentSystem2016.VModels.Specialties.EditVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOFStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOFStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inspector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OKS)
        </dd>

    </dl>
</div>
<p>
    @if (HttpContext.Current.Session["LoggedUser"] != null)
    {
        string sessionUser = HttpContext.Current.Session["LoggedUser"].ToString();
        if (sessionUser == "3" || sessionUser == "2")
        {
            <span>@Html.ActionLink("Back to List", "Index")</span>
        }
        else if (sessionUser == "1")
        {
            <span>@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |</span>
            <span>@Html.ActionLink("Back to List", "Index")</span>
        }
    }
</p>
