@model StudentSystem2016.VModels.Evaluations.EvaluationList

@{
    ViewBag.Title = "Evaluations";
}
<h1>@Model.Name  @Model.LastName</h1>

<div class="info_for_student">
    <p><b>Specialty:</b>@Model.Specialty</p>
    <p><b>Course:</b>@Model.Cours</p>
    <p><b>Group:</b>@Model.Group</p>
    <p><b>Fakultet Number:</b>@Model.FacultetNumber</p>
</div>

<button class="btn btn-default">Evaluation</button>

<div class="row">
    <div class="col-md-6">
        <table>
            <tr>
                <th>Subjects</th>
            </tr>

            @foreach (var item in Model.Subjects)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-6">
        <table>
            <tr>
                <th>Evaluation</th>
            </tr>

            @foreach (var item in Model.Evaluations)
            {
                <tr>
                    <td>@item.Ocenka</td>
                </tr>
            }

        </table>
    </div>
</div>